* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url(img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.header__top {
    width: 1440px;
    height: 1024px;
    margin-top: 217px;
}
.header__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-left: 120px;

}
.header__text {
    width: 481px;
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-left: 120px;
}
    .header__text-1 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
    }

.header__bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header__button {
    margin-top: 44px;
    margin-left: 120px;
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
}
.header__button:hover {
    background: #EB443F;
}
.header__button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
}
.menu {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}
.gamemenu {
    width: 1440px;
    height: 556px;
    background: #000915;
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
   
.game__button {
    margin-top: 128px;
    width: 379px;
    height: 300px;
    left: 120px;
    top: 1152px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 16px;
}
.game__button:hover {
    
}
.game__button__1 {
    background-image: url(img/game1.jpg);
    background-repeat: no-repeat;
}
.game__button__2 {
    background-image: url(img/game2.jpg);
    background-repeat: no-repeat;
}
.game__button__3 {
    background-image: url(img/game3.jpg);
    background-repeat: no-repeat;
    }

    
@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
}