* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat';
    background-color: #000915;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header {
    background-image: url("img/fon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1024px;
} 
.header__top {
    padding-top: 205px;
}
.header__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}
.header__text {
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 20px;
}
.br {
    display: inline;
}
.header__text-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
 }

.header__bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header__button {
    margin-top: 44px;
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    margin-bottom: 493px;
}
.header__button:hover {
    background: #EB443F;
    cursor: pointer;
}
.header__button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
}
.menu {
    width: 100%;
    height: 556px;
    background: #000915;
}
.gamemenu {
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
   
.game__button {
    margin-top: 128px;
    width: 379px;
    height: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-top: 80px;
    border-radius: 30px;
    background-size: cover;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    align-items: flex-end;
}

.game__button__1 {
    background-image: url("img/game1.jpg");
    background-repeat: no-repeat;
}
.game__button__1:hover {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url("0003 (1).jpg");
    border: 3px solid #44D2FF;
    border-radius: 30px;
    cursor: pointer;
}
.game__button__2 {
    background-image: url("img/game2.jpg");
    background-repeat: no-repeat;
}
.game__button__2:hover {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url("0003 (1).jpg");
    border: 3px solid #44D2FF;
    border-radius: 30px;
    cursor: pointer;
}
.game__button__3 {
    background-image: url("img/game3.jpg");
    background-repeat: no-repeat;
    }
.game__button__3:hover {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url("0003 (1).jpg");
    border: 3px solid #44D2FF;
    border-radius: 30px;
    cursor: pointer;
}
.seasons {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.seasons__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 282px;
} 
.seasons__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    }
.seasons__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.img__game {
    margin-top: 233px;
}
.section__game {
    height: 800px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 135px;
}
.wordgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 282px;
}
.wordgame__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    }
.wordgame__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.img__game-two {
    margin-top: 233px;
}
.wordgame__button {
    margin-top: 44px;
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    margin-bottom: 493px;
    }
    .wordgame__button:hover {
        background: #EB443F;
        cursor: pointer;
    }
.section__riddles {
    background-image: url("img/muse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 32px;
    text-align: center;

}
.riddles__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}
.riddles__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
}
.riddles__button {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    margin-top: 32px;
    }
.riddles__button:hover {
    background: #EB443F;
    cursor: pointer;
}
.footer {
    height: 80px;
}
.footer__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 32px;
    margin-left: 520px;
}


@media (max-width: 767px) {
.center {
    padding-left: 16px;
    padding-right: 16px;
   }
.header {
    background-image: url(img/mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.header__heading {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 32px;
    text-align: center;
    }
    .br {
        display: none;
    }
.header__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.header__button-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
    }

.header__button-text-1 {
    font-weight: 700;
    }
.header__button {
    text-align: center;
    margin-left: 55px;
    }
.menu {
    height: 1221px;
    margin-top: 128px;
    }
.gamemenu {
    flex-wrap: wrap;
    }
.game__button {
    height: 300px;
    left: 16px;
    top: 863px;
    margin-top: 0px;
    }
.seasons {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100;
    }
.section__game {
    height: 633px;
    flex-wrap: wrap;
    }
.seasons__menu {
        margin-top: 51px;
    } 
.seasons__heading {
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 32px;
        margin-left: 50px;
    }
.seasons__text {
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
    }
.img__game {
        width: 343px;
        margin-top: 64px;
    }
.wordgame {
    margin-top: 51px;
    align-items: flex-start;
}
.wordgame__heading {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 32px;
    margin-left: 30px;
}
.wordgame__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.wordgame__button {
    text-align: center;
    margin-left: 60px;
    margin-bottom: 5px;
}
.img__game-two {
    width: 343px;
    margin-top: 64px;
    }
.section__riddles {
    height: 633px;
    flex-wrap: wrap;
    }
.riddles__heading {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
.riddles__text {
    font-size: 14px;
    line-height: 22px;
    }
.footer__heading {
    margin-left: 110px;
    }
}